In [7]:
import pandas as pd
import numpy as np

# date = pd.date_range(start='20190501',end='20190530')
# print(date)

# freq：日期偏移量，取值为string或DateOffset，默认为'D'，  freq='1h30min'  freq='10D'
# periods：固定时期，取值为整数或None
date = pd.date_range(start='20190501',periods=10,freq='10D')
print(date)

DatetimeIndex(['2019-05-01 00:00:00', '2019-05-01 01:30:00',
               '2019-05-01 03:00:00', '2019-05-01 04:30:00',
               '2019-05-01 06:00:00', '2019-05-01 07:30:00',
               '2019-05-01 09:00:00', '2019-05-01 10:30:00',
               '2019-05-01 12:00:00', '2019-05-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [8]:
# 可以将时间作为索引
index = pd.date_range(start='20190101',periods=10)

df = pd.Series(np.random.randint(0,10,size = 10),index=index)
print(df)

2019-01-01    8
2019-01-02    6
2019-01-03    7
2019-01-04    4
2019-01-05    3
2019-01-06    4
2019-01-07    7
2019-01-08    4
2019-01-09    2
2019-01-10    3
Freq: D, dtype: int64

In [12]:
long_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2019',periods=1000))
# print(long_ts)
# 根据年份获取
# result = long_ts['2020']
# print(result)

# 年份和日期获取
# result = long_ts['2020-05']
# print(result)

# 使用切片
result = long_ts['2020-05-01':'2020-05-06']
print(result)

2020-05-01   -0.561950
2020-05-02   -1.551219
2020-05-03    0.251783
2020-05-04   -0.894532
2020-05-05    0.385275
2020-05-06   -0.741717
Freq: D, dtype: float64

In [14]:
# 通过between_time()返回位于指定时间段的数据集
# index=pd.date_range("2018-03-17","2018-03-30",freq="2H")
# ts = pd.Series(np.random.randn(157),index=index)
# print(ts.between_time("7:00","17:00"))

# 这些操作也都适用于dataframe
index=pd.date_range('1/1/2019',periods=100)
df = pd.DataFrame(np.random.randn(100,4),index=index)
print(df.loc['2019-04'])

                   0         1         2         3
2019-04-01  0.832790  0.465039  0.207225  1.802984
2019-04-02 -1.363855  0.247600  0.939629  1.217287
2019-04-03 -0.272124  2.694322 -0.719372  0.607795
2019-04-04 -0.878462 -1.766142  0.209483 -0.560872
2019-04-05 -0.624510  0.578317  1.524643  0.505886
2019-04-06  0.128874  0.836046  1.070527  1.740938
2019-04-07 -0.581730  0.933613  0.996624 -0.360664
2019-04-08 -0.041329  0.071025 -0.511914 -0.863363
2019-04-09 -1.485299  1.871997 -1.053802 -3.498955
2019-04-10 -0.023808 -2.574744  0.029809 -0.620074

In [24]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
    'name':['BOSS','Lilei','Lilei','Han','BOSS','BOSS','Han','BOSS'],
    'Year':[2016,2016,2016,2016,2017,2017,2017,2017],
    'Salary':[999999,20000,25000,3000,9999999,999999,3500,999999],
    'Bonus':[100000,20000,20000,5000,200000,300000,3000,400000]
    })

print(df)

# 根据name这一列进行分组
group_by_name=df.groupby('name')
# print(type(group_by_name))

# print(group_by_name.groups)
# print(group_by_name.count())

# for name,group in group_by_name:
#     print(name) # 组的名字
#     print(group)# 组的数据
# print(group_by_name.get_group('BOSS'))

# group_by_name = df['Year'].groupby(df['name'])
# print(group_by_name.count())


group_by_name=df.groupby(['name','Year'])

print(group_by_name.count())

    name  Year   Salary   Bonus
0   BOSS  2016   999999  100000
1  Lilei  2016    20000   20000
2  Lilei  2016    25000   20000
3    Han  2016     3000    5000
4   BOSS  2017  9999999  200000
5   BOSS  2017   999999  300000
6    Han  2017     3500    3000
7   BOSS  2017   999999  400000
            Salary  Bonus
name  Year
BOSS  2016       1      1
      2017       3      3
Han   2016       1      1
      2017       1      1
Lilei 2016       2      2

In [27]:
df1=pd.DataFrame({'Data1':np.random.randint(0,10,5),
                  'Data2':np.random.randint(10,20,5),
                  'key1':list('aabba'),
                  'key2':list('xyyxy')})
print(df1)
# 按key1分组，进行聚合计算
# 注意：当分组后进行数值计算时，不是数值类的列（即麻烦列）会被清除
# print(df1.groupby('key1').sum())

# 只算data1
# print(df1['Data1'].groupby(df1['key1']).sum())
# print(df1.groupby('key1')['Data1'].sum())
# print(df1.groupby('key1')['Data1'].mean())

   Data1  Data2 key1 key2
0      5     18    a    x
1      7     16    a    y
2      2     15    b    y
3      0     19    b    x
4      5     14    a    y
key1
a    17
b     2
Name: Data1, dtype: int64

In [29]:
# 使用agg()函数做聚合运算
# print(df1.groupby('key1').agg('sum'))

# 可以同时做多个聚合运算
print(df1.groupby('key1').agg(['sum','mean','std']))

     Data1                     Data2
       sum      mean       std   sum mean       std
key1
a       17  5.666667  1.154701    48   16  2.000000
b        2  1.000000  1.414214    34   17  2.828427

In [30]:
# 可自定义函数，传入agg方法中 grouped.agg(func)
def peak_range(df):
    """
        返回数值范围
    """
    return df.max() - df.min()

print(df1.groupby('key1').agg(peak_range))

      Data1  Data2
key1
a         2      4
b         2      4

In [34]:
df1=pd.DataFrame({'sex':list('FFMFMMF'),'smoker':list('YNYYNYY'),'age':[21,30,17,37,40,18,26],'weight':[120,100,132,140,94,89,123]})
print(df1)
def bin_age(age):
    if age >=18:
        return 1
    else:
        return 0

# 抽烟的年龄大于等18的
# print(df1['age'].apply(bin_age))

# df1['age'] = df1['age'].apply(bin_age)
# print(df1)

# 取出抽烟和不抽烟的体重前二
def top(smoker,col,n=5):
    
    return smoker.sort_values(by=col)[-n:]

df1.groupby('smoker').apply(top,col='weight',n=2)

  sex smoker  age  weight
0   F      Y   21     120
1   F      N   30     100
2   M      Y   17     132
3   F      Y   37     140
4   M      N   40      94
5   M      Y   18      89
6   F      Y   26     123

         sex smoker  age  weight
smoker
N      4   M      N   40      94
       1   F      N   30     100
Y      2   M      Y   17     132
       3   F      Y   37     140

In [36]:
# 1. 使用to_excel创建Excel文件
import pandas as pd

df = pd.DataFrame({'id':[1,2,3],'name':['zs','ls','ww']})

# 默认会有索引，将ID列设置成索引,会返回一个新的df,如果想要在原来的df上修改需要添加参数inplace=True
df = df.set_index('id')

df.to_excel('./output.xlsx')
print('end')

end

In [43]:
# 2. 使用pandas读取文件
import pandas as pd
# 此处需要安装依赖库xlrd
people = pd.read_excel('./data/People.xlsx')

# print('获取文件中的行和列：',people.shape)

# print('获取文件中的列名：',people.columns)
# 默认取前五行
# print(people.head())
# print('获取文件中的后几行数据信息：',people.tail())

# print(people.columns)
# 1. 读取的时候，默认会将第一行(数是以1开始)作为列名，我们可以修改
# people = pd.read_excel('./data/People1.xlsx',header = 1)
# print(people.columns)

# 第一种： 设置header为None，会使用默认的1234
people = pd.read_excel('./data/People.xlsx',header = None)
# print(people.columns)
print(people.head())

Index(['ID', 'Type', 'Title', 'FirstName', 'MiddleName', 'LastName'], dtype='object')
    0         1      2          3           4           5
0  ID      Type  Title  FirstName  MiddleName    LastName
1   1  Employee    NaN        Ken           J     Sánchez
2   2  Employee    NaN      Terri         Lee       Duffy
3   3  Employee    NaN    Roberto         NaN  Tamburello
4   4  Employee    NaN        Rob         NaN     Walters

In [44]:
# 指定读哪个表
sheet = pd.read_excel('./data/sheet.xlsx',sheet_name='sheet2')
print(sheet.head())

   ID  age
0   0   18
1   1   19

In [45]:
# 3. 如果数据在表格中没有顶格写时
# skiprows : 跳过几行
# usecols: 使用那几列（C,指的就是Excel上的ABCD....）
book = pd.read_excel('./data/Books.xlsx',skiprows=3,usecols ="C:F")
print(book.head())

   ID      Name  InStore
0 NaN  Book_001      NaN
1 NaN  Book_002      NaN
2 NaN  Book_003      NaN
3 NaN  Book_004      NaN
4 NaN  Book_005      NaN

In [46]:
import pandas as pd
import pymysql

conn =pymysql.connect(host='localhost',user='root',passwd='123',db='tieba',port=3306,charset='utf8mb4')

query = 'SELECT id,info,url FROM tieba_info'

df = pd.read_sql_query(query,conn)
print(df)

    id                                   info            url
0    1         现在AP卡莎强度如何？卡莎一直出的AP，因为比较平滑，攻速鞋  /p/6145717896
1    2         请问这个是bug吗，本场没有滑板鞋，但是我们上路的装备里就有  /p/6143233514
2    3         我想知道，这位大兄弟玩ad带个行窃预兆，第二件出卢安娜的飓风  /p/6143599050
3    4                 武器要怎么打哈蟆，上单没有可以gank的吗？  /p/6142379064
4    5         最近打排位经常有人问我，你一个英雄玩了几千场是什么感觉啊。一  /p/6141038110
5    6                               上单英雄简单介绍  /p/6143732105
6    7                                辣鸡拳头又抄袭  /p/6145365511
7    8                         金属重做归来 大招孤儿乐园！  /p/6145147020
8    9                         请问发条怎么打皎月，太可怕了  /p/6144393887
9   10                              莫德凯撒迎来重做！  /p/6145715843
10  11                       全英雄七级成就养成中，持续更新~  /p/6019998154
11  12            LOL看比赛也要收费了！一个赛季100块，你看的起么？  /p/6144838042
12  13          这个英雄场次是我见过最多的。今天排位遇到的。我服了。你们呢  /p/6143616940
13  14                          突然发现铁男即将到来的更新  /p/6145217015
14  15                     说真的沙漠皇帝是我玩过最自闭的英雄了  /p/6145704874
15  16         想问一下玛尔扎哈这个英雄要咋玩，最近玩了几局感觉挺适合我这个  /p/6144275543
16  17         当你用尽全力去C的时候。绝望，无助，这种感觉真的难受。为什么  /p/6142913219
17  18         遇到个宝石+剑圣把我们打爆了。后期1v5，看到他战绩好几页m  /p/6144956885
18  19               现在脚本那么强了吗，都不会被封号。连续18个小时  /p/6142314538
19  20                        兄弟们这个炸弹人是什么东西？？  /p/6142149555
20  21                         有没有那种能拯救队友的英雄？  /p/6143541438
21  22               我发现这游戏最难不是绝地翻盘，而是等到天使16级  /p/6141888010
22  23                           真的遇到这个情况怎么整？  /p/6141430511
23  24                          铁男重做后的原画怎么评价？  /p/6145060168
24  25                           艾欧尼亚从零单双排记录贴  /p/6140169323
25  26             什么原因让你加入了英雄联盟，他会是你最后一款游戏吗？  /p/6145458597
26  27         为什么艾克怎么冷门，我一千多把艾克中路对拼怕:妖姬，卡萨丁其  /p/6141472725
27  28                         分享一个打游戏超暴躁的boy  /p/6145467706
28  29                              我还可以拥有爱情吗  /p/6119531166
29  30  各位带哥萌 小弟这波操作什么水平 一时紧张 导致头脑发热 紧急情况打出来的  /p/6093011289
30  31         我跟大家说个事，如果faker来国服青铜单排，他能上的了白银  /p/6142643894
31  32         为什么这版本轮子妈胜率突然登顶了，以前胜率在AD位可都是偏中  /p/6144072734
32  33                              可是我真的很尽力了  /p/6142948763
33  34               大家游戏中怎么喷人啊？喷不过别人吧就越想越气……  /p/6145713756
34  35                            uzi到底是什么水平？  /p/6138290269
35  36                      准备去相亲，穿裙子还是牛仔裤比较好  /p/6142846862
36  37         对面选了德莱文加锤石的时候，不要5楼了还选猫咪好吗玩个寒冰被  /p/6142952366
37  38                                   葲lol  /p/6145678619
38  39          各位吧友帮忙估个价，一直没怎么玩了，准备出了，英雄139个  /p/6145702234
39  40                     追一个女孩子，还没表白就被拒绝了……  /p/6145565341
40  41         大佬们 求教一下 瑞兹6级到底学不学R?还有鞋子出哪一只才好  /p/6142992018
41  42         兄弟们，借个有玉剑传说男刀的，或者龙刀炫彩的号，什么分段什么  /p/6143527932
42  43         带哥们 ，我同学跟我超火男连招，他说是w起手，我说eq晕w，  /p/6138796388
43  44              游戏认识的，今天叫我来她家玩，应该是对我有意思吧？  /p/6144440452
44  45                         这边看边学的叼任务怎么做完？  /p/6128951773
45  46                   大家觉得什么英雄打辅助是真的会把队友打崩  /p/6139307693
46  47                                 他还真的穿了  /p/6129628053