In [143]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.arange(9).reshape(3, 3), index = ['bj', 'sh', 'gz'], columns=['a', 'b', 'c'])
print(df1)
# 修改 df1 的 index
# print(df1.index) # 可以打印出print的值，同时也可以为其赋值

# df1.index = ['beijing', 'shanghai', 'guangzhou']
# print(df1)

# 自定义map函数（x是原有的行列值）
# def test_map(x):
    
#     return x+'_ABC'

# print(df1.rename(index=test_map,columns=test_map))

# df = df1.rename(index={'bj':'beijing'},columns={'a':'aa'})
# print(df)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8
         aa  b  c
beijing   0  1  2
sh        3  4  5
gz        6  7  8

In [146]:
# df1=pd.DataFrame({'X':range(5),'Y':range(5),'S':list("abcde"),'Z':[1,1,2,2,2]})
# print(df1)

# result = df1.set_index('S',drop=False)
# print(result)

   X  Y  S  Z
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2
   X  Y  S  Z
S
a  0  0  a  1
b  1  1  b  1
c  2  2  c  2
d  3  3  d  2
e  4  4  e  2

In [148]:
# 增加数据
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])

# 在数据框最后加上score一列
# df1['score'] = [80,98,67,90]  # 增加列的元素个数要跟原数据列的个数一样
# print(df1)

     name gender  age  score
0    Snow      M   22     80
1  Tyrion      M   32     98
2   Sansa      F   18     67
3    Arya      F   14     90

In [150]:
col_name=df1.columns.tolist()                   # 将数据框的列名全部提取出来存放在列表里
col_name.insert(2,'city')                      # 在列索引为2的位置插入一列,列名为:city，刚插入时不会有值，整列都是NaN

df1=df1.reindex(columns=col_name)              # DataFrame.reindex() 对原行/列索引重新构建索引值
print(df1)
df1['city']=['北京','山西','湖北','澳门']   # 给city列赋值
print(df1)

     name gender  city  city  age  score
0    Snow      M   NaN   NaN   22     80
1  Tyrion      M   NaN   NaN   32     98
2   Sansa      F   NaN   NaN   18     67
3    Arya      F   NaN   NaN   14     90
     name gender city city  age  score
0    Snow      M   北京   北京   22     80
1  Tyrion      M   山西   山西   32     98
2   Sansa      F   湖北   湖北   18     67
3    Arya      F   澳门   澳门   14     90

In [154]:
# 增加数据
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])

print(df1)
# 先创建一个DataFrame，用来增加进数据框的最后一行
new=pd.DataFrame({'name':'lisa',
                  'gender':'F',
                  'age':19
                  },index=[0])
print(new)
# print("-------在原数据框df1最后一行新增一行，用append方法------------")
df1=df1.append(new,ignore_index=True)   # ignore_index=False,表示不按原来的索引，从0开始自动递增
print(df1)

     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
   name gender  age
0  lisa      F   19
     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
4    lisa      F   19

In [158]:

df1 = pd.DataFrame(np.arange(6).reshape(3,2),columns=['four','five'])
df2 = pd.DataFrame(np.arange(6).reshape(2,3),columns=['one','two','three'])
print(df1)
print(df2)

# # 按行合并
# result = pd.concat([df1,df2],axis=1)
# print(result)

result = pd.concat([df1,df2],axis=0,ignore_index=True,sort=False)
print(result)

   four  five
0     0     1
1     2     3
2     4     5
   one  two  three
0    0    1      2
1    3    4      5
   four  five  one  two  three
0   0.0   1.0  NaN  NaN    NaN
1   2.0   3.0  NaN  NaN    NaN
2   4.0   5.0  NaN  NaN    NaN
3   NaN   NaN  0.0  1.0    2.0
4   NaN   NaN  3.0  4.0    5.0

In [168]:

se=pd.Series([4,np.nan,8,np.nan,5])
print(se)
print(se.dropna())
# print(se.notnull())
print(se.isnull())

# # 通过布尔序列也能滤除：
# print(se1[se1.notnull()])

# print(se[se.notnull()])

0    4.0
1    NaN
2    8.0
3    NaN
4    5.0
dtype: float64
0    4.0
2    8.0
4    5.0
dtype: float64
0    False
1     True
2    False
3     True
4    False
dtype: bool
0    4.0
2    8.0
4    5.0
dtype: float64

In [184]:
# 2.2 处理DataFrame对象
df1=pd.DataFrame([[1,2,3],[np.nan,np.nan,2],[np.nan,np.nan,np.nan],[8,8,np.nan]])
print(df1)

# 默认滤除所有包含NaN：
# print(df1.dropna())

# 传入how=‘all’滤除全为NaN的行：
# print(df1.dropna(how='all')) # 默认情况下是how='any'，只要有nan就删除

# 传入axis=1滤除列：
# print(df1.dropna(axis=1,how="all"))

#传入thresh=n保留至少有n个非NaN数据的行：
# print(df1.dropna(thresh=1))


# print(df1)

# 用常数填充fillna
# print(df1.fillna(0))
# print(df1)

#传入inplace=True直接修改原对象：
# df1.fillna(0,inplace=True)
# print(df1)

# 通过字典填充不同的常数
# print(df1.fillna({0:10,1:20,2:30})) 

# 填充平均值
# print(df1.fillna(df1.mean()))
# 如果只填充一列
# print(df1.iloc[:,1].fillna(5,inplace = True))
# print(df1)

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
None
     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  2.0
2  NaN  5.0  NaN
3  8.0  8.0  NaN

In [189]:
# 传入method=” “改变插值方式：
df2=pd.DataFrame(np.random.randint(0,10,(5,5)))
df2.iloc[1:4,3]=np.nan
df2.iloc[2:4,4]=np.nan
print(df2)
#用前面的值来填充ffill   用后面的值来填充bfill
# print(df2.fillna(method='bfill'))

# 传入limit=” “限制填充行数：
# print(df2.fillna(method='bfill',limit=1))

# 传入axis=” “修改填充方向：
print(df2.fillna(method="ffill",limit=1,axis=1))

   0  1  2    3    4
0  8  1  6  0.0  2.0
1  3  8  2  NaN  5.0
2  2  5  2  NaN  NaN
3  5  5  4  NaN  NaN
4  2  8  8  8.0  3.0
     0    1    2    3    4
0  8.0  1.0  6.0  0.0  2.0
1  3.0  8.0  2.0  2.0  5.0
2  2.0  5.0  2.0  2.0  NaN
3  5.0  5.0  4.0  4.0  NaN
4  2.0  8.0  8.0  8.0  3.0

In [194]:
df1=pd.DataFrame({'A':[1,1,1,2,2,3,1],'B':list("aabbbca")})
print(df1)

# 判断每一行是否重复(结果是bool值，TRUE代表重复的)
# print(df1.duplicated())

# 去除全部的重复行
# print(df1.drop_duplicates())

# # 指定列去除重复行
print(df1.drop_duplicates(['A']))

   A  B
0  1  a
1  1  a
2  1  b
3  2  b
4  2  b
5  3  c
6  1  a
   A  B
0  1  a
3  2  b
5  3  c

In [199]:
import pandas as pd
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abc'))
df4=pd.DataFrame({'Blue':[1,9,8],'Yellow':[6,6,7]},index=list('cde'))
print(df3)
print(df4)

# df3.join(df4,how='left')
# df3.join(df4,how='right')
df3.join(df4,how='outer')

   Red  Green
a    1      5
b    3      0
c    5      3
   Blue  Yellow
c     1       6
d     9       6
e     8       7

   Red  Green  Blue  Yellow
a  1.0    5.0   NaN     NaN
b  3.0    0.0   NaN     NaN
c  5.0    3.0   1.0     6.0
d  NaN    NaN   9.0     6.0
e  NaN    NaN   8.0     7.0

In [202]:
df1=pd.DataFrame({'名字':list('ABCDE'),'性别':['男','女','男','男','女'],'职称':['副教授','讲师','助教','教授','助教']},index=range(1001,1006))
df1.columns.name='学院老师'
df1.index.name='编号'
print(df1)

df2=pd.DataFrame({'名字':list('ABDAX'),'课程':['C++','计算机导论','汇编','数据结构','马克思原理'],'职称':['副教授','讲师','教授','副教授','讲师']},index=[1001,1002,1004,1001,3001])
df2.columns.name='课程'
df2.index.name='编号'
print(df2)

# 默认下是根据左右对象中出现同名的列作为连接的键，且连接方式是how=’inner’
print(pd.merge(df1,df2))

学院老师 名字 性别   职称
编号
1001  A  男  副教授
1002  B  女   讲师
1003  C  男   助教
1004  D  男   教授
1005  E  女   助教
课程   名字     课程   职称
编号
1001  A    C++  副教授
1002  B  计算机导论   讲师
1004  D     汇编   教授
1001  A   数据结构  副教授
3001  X  马克思原理   讲师
  名字 性别   职称     课程
0  A  男  副教授    C++
1  A  男  副教授   数据结构
2  B  女   讲师  计算机导论
3  D  男   教授     汇编

In [204]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
# Series也可以创建多层索引
# s = Series(np.random.randint(0,150,size=6),index=list('abcdef'))
# print(s)
# s = Series(np.random.randint(0,150,size=6),
#            index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
# print(s)

a     63
b     77
c    113
d    102
e     21
f    109
dtype: int64
a  期中     11
   期末     30
b  期中     46
   期末    124
c  期中    124
   期末     35
dtype: int64

In [208]:
# DataFrame创建多层索引
# df1 = DataFrame(np.random.randint(0,150,size=(6,4)),
#                columns = ['zs','ls','ww','zl'],
#                index = [['python','python','math','math','En','En'],['期中','期末','期中','期末','期中','期末']])
# print(df1)

# 2. 特定结构
# class1=['python','python','math','math','En','En']
# class2=['期中','期末','期中','期末','期中','期末']
# 创建索引
# m_index2=pd.MultiIndex.from_arrays([class1,class2])

# df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
# print(df2)

# class1=['期中','期中','期中','期末','期末','期末']
# class2=['python','math','En','python','math','En']
# m_index2=pd.MultiIndex.from_arrays([class1,class2])
# df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
# print(df2)


class1=['python','math','En']

class2=['期中','期末']

m_index2=pd.MultiIndex.from_product([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

             0    1    2    3
python 期中  125   97   46   94
       期末   25   71   48  115
math   期中  106   95   92  115
       期末   35  107   12   73
En     期中   93   72   87   40
       期末   87  145  107  115

In [212]:
# series
s = Series(np.random.randint(0,150,size=6),
           index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
print(s)
# 取一个第一级索引
# print(s['a'])

# 取多个第一级索引
# print(s[['a','b']])

# 根据索引获取值
# print(s['a','期末'])

# loc方法取值
# print(s.loc['a'])
# print(s.loc[['a','b']])
# print(s.loc['a','期末'])

# iloc方法取值(iloc计算的事最内层索引)
# print(s.iloc[1])
# print(s.iloc[1:4])

a  期中     32
   期末    107
b  期中     58
   期末    125
c  期中     37
   期末    126
dtype: int64
107
a  期末    107
b  期中     58
   期末    125
dtype: int64

In [215]:
class1=['python','math','En']
class2=['期中','期末']
m_index2=pd.MultiIndex.from_product([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

# 获取列
# print(df2[0])

# 一级索引
# print(df2.loc['python'])

# 多个一级索引
# print(df2.loc[['python','math']])

# 取一行
# print(df2.loc['python','期末'])

# 取一值
# print(df2.loc['python','期末'][0])

# iloc是只取最内层的索引的
print(df2.iloc[0])

             0    1    2    3
python 期中   50   66    1   57
       期末    3  146   91    5
math   期中  129   68   12  113
       期末   63   77   91  113
En     期中  143  134    5   45
       期末   97  133  108  125
     0    1   2   3
期中  50   66   1  57
期末   3  146  91   5